body {
    font-family: 'Times New Roman';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
